*.pyc
*.pyo
.svn
*.bak
*.swp
*~
._*
*#
.#*
*.orig
*.rej
.DS_Store
*pip-log.txt
*.egg-info
*.so
/bin
/lib
/include
src
/man
distribute-*gz
docs/_build
.coverage
.noseids
.ropeproject
*,cover
cover
build
dist
*_flymake.*
file:/
TAGS
